body{
    background-color: #4FB477;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color:#ffffff;
    border:none;
    background:rgba(0,0,0,0.2);
    max-width:400px;
}
.todos li{
    background:#63D471;
}
.delete{
    cursor:pointer;
}
.filtered{
    display: none !important
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(159, 219, 146) !important;
  }